h1 {
  font-size: x-large;
  color: rgb(26, 64, 234);
  text-align: center;
  margin: 0 auto;
}
/* flexコンテナ（親要素） */
.wrap_content {
  display: flex; /* flex設定 */
  flex-wrap: wrap; /* 折り返しあり */
  margin: 30px 0 150px 0;
  justify-content: center; /* flexboxを中央寄せに配置 */
}
/* flexアイテム（子要素） */
.wrap_content .box {
  padding: 3%;
  background: #58ffde;
  margin: 10px 1.5%;
  border-radius: 10%;
  font-size: medium;
  font-weight: bold;
  color: rgb(26, 40, 234);
}
.box0 {
  text-align: center;
  margin: 0 auto;
}
